@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital@1&display=swap');


* {
    box-sizing: border-box;
}

body{
    background-image: url("./pozadie.jpg");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    font-family: 'Ibarra Real Nova', serif;
    margin: 0;
}

h1{
    font-size: 5rem;
    margin-top: -15rem;
}

.odpocivadlo_container{
    display: flex;
}

.big-text{
    font-size: 5rem;
    line-height: 1;
    margin: 0 2rem;
}

.odpocitavadlo-ele {
    text-align: center;
}

.odpocitavadlo-ele span{
    font-size: 1.5rem;
}